/*
  LOBDATA 테이블의 레코드를 일정 개수(@SEQ_NUM) 이상일 때 최근 100일(@DAYDIFF) 전의 데이터만 백업한다.

  
*/

use ELINT;

declare @Record_Count INT
declare @SEQ_NUM INT
declare @DAYDIFF INT
declare @AETID INT

/* set @SEQ_NUM=1073741823  */
set @SEQ_NUM=1073741823
set @DAYDIFF=100

print '+-----------------------------------------------------+'
print '빔 테이블을' + str(@DAYDIFF) + '일 초과한 것에 대해서는 정리하려 합니다.'

select @Record_Count=count(*) from ABTDATA;
select @AETID=max(AETID) from ABTDATA where DATEDIFF(DD,FIRST_TIME,GETDATE()) <= @DAYDIFF

if( @Record_Count > @SEQ_NUM )
  begin
    print '최근 100일 전의 자료를 이동합니다.';
    
    /*   LOBDATA 테이블 백업하기    */
    if exists ( select * from INFORMATION_SCHEMA.tables where table_name='ABTDATA2')
      begin
        drop table ABTDATA2;
      end
    select * into ABTDATA2 from ABTDATA where 1=2;

    /* SEQ_NUM 의 타입은 INT 형이고 최대 2,147,483,647 까지이다. */
    insert into ABTDATA2 (OP_INIT_ID,ABTID,AETID,FIRST_TIME,LAST_TIME,SIGNAL_TYPE,NUM_LOB,BEAM_VALIDITY,FREQ_TYPE,FREQ_PATTERN_TYPE,FREQ_PATTERN_PERIOD_MEAN,
    FREQ_PATTERN_PERIOD_MIN,FREQ_PATTERN_PERIOD_MAX,FREQ_MEAN,FREQ_MIN,FREQ_MAX,FREQ_POSITION_COUNT,PRI_TYPE,PRI_PATTERN_TYPE,
    PRI_PATTERN_PERIOD_MEAN,PRI_PATTERN_PERIOD_MIN,PRI_PATTERN_PERIOD_MAX,PRI_MEAN,PRI_MIN,PRI_MAX,PRI_JITTER_RATIO,PRI_POSITION_COUNT,
    PW_MEAN,PW_MIN,PW_MAX,PA_MEAN,PA_MIN,PA_MAX,TOTAL_PDW,RADAR_NAME,RADARMODE_INDEX,THREAT_INDEX,PE_VALID,
    PE_LATITUDE,PE_LONGGITUDE,PE_CEP,PE_MAJOR_AXIS,PE_MINOR_AXIS,PE_THETA,PE_DISTANCE,ALARM_TIME,STAT )
    select OP_INIT_ID,ABTID,AETID,FIRST_TIME,LAST_TIME,SIGNAL_TYPE,NUM_LOB,BEAM_VALIDITY,FREQ_TYPE,FREQ_PATTERN_TYPE,FREQ_PATTERN_PERIOD_MEAN,
    FREQ_PATTERN_PERIOD_MIN,FREQ_PATTERN_PERIOD_MAX,FREQ_MEAN,FREQ_MIN,FREQ_MAX,FREQ_POSITION_COUNT,PRI_TYPE,PRI_PATTERN_TYPE,
    PRI_PATTERN_PERIOD_MEAN,PRI_PATTERN_PERIOD_MIN,PRI_PATTERN_PERIOD_MAX,PRI_MEAN,PRI_MIN,PRI_MAX,PRI_JITTER_RATIO,PRI_POSITION_COUNT,
    PW_MEAN,PW_MIN,PW_MAX,PA_MEAN,PA_MIN,PA_MAX,TOTAL_PDW,RADAR_NAME,RADARMODE_INDEX,THREAT_INDEX,PE_VALID,
    PE_LATITUDE,PE_LONGGITUDE,PE_CEP,PE_MAJOR_AXIS,PE_MINOR_AXIS,PE_THETA,PE_DISTANCE,ALARM_TIME,STAT  
     from ABTDATA where DATEDIFF(DD,FIRST_TIME,GETDATE()) < @DAYDIFF
    
    drop table ABTDATA;
    exec sp_rename 'ABTDATA2' , 'ABTDATA'
    
    /*   LOB_POSITION 테이블 백업하기    */
    if exists ( select * from INFORMATION_SCHEMA.tables where table_name='ABT_POSITION2')
      begin
        drop table ABT_POSITION2;
      end
      
    select * into ABT_POSITION2 from ABT_POSITION where 1=2;
    
    insert into ABT_POSITION2 (OP_INIT_ID, LOBID, ABTID, AETID, TASK_ID, POSITION_COUNT, SEQ_01, SEQ_02, SEQ_03, SEQ_04, SEQ_05,
    SEQ_06, SEQ_07,SEQ_08,SEQ_09,SEQ_10,SEQ_11,SEQ_12,SEQ_13,SEQ_14,SEQ_15,SEQ_16 )
    select OP_INIT_ID, LOBID, ABTID, AETID, TASK_ID, POSITION_COUNT, SEQ_01, SEQ_02, SEQ_03, SEQ_04, SEQ_05,
    SEQ_06, SEQ_07,SEQ_08,SEQ_09,SEQ_10,SEQ_11,SEQ_12,SEQ_13,SEQ_14,SEQ_15,SEQ_16 from ABT_POSITION where AETID >= @AETID;
     
    drop table ABT_POSITION;
    exec sp_rename 'ABT_POSITION2' , 'ABT_POSITION'     

  end
else
  begin
	print '데이터 개수(' + str(@Record_Count) + ')가 최대 상한값(' + str(@SEQ_NUM) + ')보다 적기 때문에 데이터 이동을 취소 합니다.';
	print ''
  end
