*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.obj
*.jou
*.log
project-spec/meta-plnx-generated/
/components/plnx_workspace

.qmake.stash

download_cgi

*.bak
*.autosave
build-PocketView*/
Build-PocketView*/
build-PocketSonata*/
Build-PocketSonata*/
*.sqlite3
*.swp
*.pro.user
*.user


apptest*
*.d


# Precompiled Headers
Debug*
Release*
*.manifest
*.gch
*.pch
*.tlog
*.opensdf
*.sdf
*.suo

#vxworks space
project-spec/meta-user/recipes-apps/apppocketsonata/VxWorksSpace/*
project-spec/meta-user/recipes-apps/apppocketsonata/VxWorksSpace64/*
