*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.obj
*.jou
*.log
project-spec/meta-plnx-generated/
/components/plnx_workspace

.qmake.stash

download_cgi

*.bak
*.autosave
build-PocketView*/
Build-PocketView*/
build-PocketSonata*/
Build-PocketSonata*/
*.sqlite3
*.swp
*.pro.user
*.user


apptest*
Debug/*


# Precompiled Headers
*.gch
*.pch
*.log
Debug
Release
