/****** Object: Table [dbo].[RADARMODE_PRI_SEQUENCE]   Script Date: 2019-04-24 오후 3:21:31 ******/
USE [ELINT];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

DROP TABLE dbo.RADARMODE_PRI_SEQUENCE

CREATE TABLE [dbo].[RADARMODE_PRI_SEQUENCE] (
[RADAR_MODE_INDEX] int NOT NULL,
[PRI_SEQ_ID] int NOT NULL,
[PRI_SEQ_NAME] varchar(20) NULL,
[PRI_MIN] float NULL,
[PRI_MAX] float NULL,
CONSTRAINT [PK__RADARMOD__F56ABC074ADECD96]
PRIMARY KEY CLUSTERED ([RADAR_MODE_INDEX] ASC, [PRI_SEQ_ID] ASC)
WITH ( PAD_INDEX = OFF,
FILLFACTOR = 100,
IGNORE_DUP_KEY = OFF,
STATISTICS_NORECOMPUTE = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON,
DATA_COMPRESSION = NONE )
 ON [PRIMARY]
)
ON [PRIMARY];
GO
ALTER TABLE [dbo].[RADARMODE_PRI_SEQUENCE] SET (LOCK_ESCALATION = TABLE);
GO
