/****** Object: Table [dbo].[RADARMODE]   Script Date: 2019-04-18 오후 3:22:26 ******/
USE [ELINT];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

DROP TABLE dbo.RADARMODE

CREATE TABLE [dbo].[RADARMODE] (
[RADAR_MODE_INDEX] int NOT NULL,
[RADAR_MODE_NAME] varchar(10) NOT NULL,
[DATE_CREATED] datetime NULL,
[DATE_LAST_UPDATED] datetime NULL,
[DATE_FIRST_SEEN] datetime NULL,
[DATE_LAST_SEEN] datetime NULL,
[PLATFORM] tinyint NULL,
[SIGNAL_TYPE] tinyint NULL,
[RF_TYPE] tinyint NOT NULL,
[RF_TYPICAL_MIN] float NULL,
[RF_TYPICAL_MAX] float NULL,
[RF_PATTERN_TYPE] tinyint NULL,
[RF_NUM_POSITIONS] tinyint NULL,
[RF_PATTERN_PERIOD_MIN] float NULL,
[RF_PATTERN_PERIOD_MAX] float NULL,
[PRI_TYPE] tinyint NOT NULL,
[PRI_TYPICAL_MIN] float NULL,
[PRI_TYPICAL_MAX] float NULL,
[PRI_PATTERN_TYPE] tinyint NULL,
[PRI_NUM_POSITIONS] tinyint NULL,
[PRI_PATTERN_PERIOD_MIN] float NULL,
[PRI_PATTERN_PERIOD_MAX] float NULL,
[PW_TYPICAL_MIN] float NULL,
[PW_TYPICAL_MAX] float NULL,
[VALIDATION] tinyint NULL,
CONSTRAINT [PK__RADARMOD__5D8D6E820428B272]
PRIMARY KEY CLUSTERED ([RADAR_MODE_NAME] ASC, [RADAR_MODE_INDEX] ASC)
WITH ( PAD_INDEX = OFF,
FILLFACTOR = 100,
IGNORE_DUP_KEY = OFF,
STATISTICS_NORECOMPUTE = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON,
DATA_COMPRESSION = NONE )
 ON [PRIMARY]
)
ON [PRIMARY];
GO
ALTER TABLE [dbo].[RADARMODE] SET (LOCK_ESCALATION = TABLE);
GO

