/****** Object: Table [dbo].[THREAT]   Script Date: 2019-07-12 오후 12:42:46 ******/
USE [ELINT];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

DROP TABLE dbo.THREAT

CREATE TABLE [dbo].[THREAT] (
[THREAT_INDEX] int NOT NULL,
[RADAR_MODE_NAME] varchar(10) NOT NULL,
[THREAT_NAME] varchar(10) NULL,
[LATITUDE] float NULL,
[LONGITUDE] float NULL,
[SITE_NAME] varchar(10) NULL,
[THREAT_PLATFORM] tinyint NULL,
[DATE_CREATED] datetime NULL,
[DATE_FIRST_SEEN] datetime NULL,
[DATE_LAST_SEEN] datetime NULL,
[ID_RANGE] float NULL,
CONSTRAINT [PK__THREAT__DD4AC47457A20A5B]
PRIMARY KEY CLUSTERED ([THREAT_INDEX] ASC, [RADAR_MODE_NAME] ASC)
WITH ( PAD_INDEX = OFF,
FILLFACTOR = 100,
IGNORE_DUP_KEY = OFF,
STATISTICS_NORECOMPUTE = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON,
DATA_COMPRESSION = NONE )
 ON [PRIMARY]
)
ON [PRIMARY];
GO
ALTER TABLE [dbo].[THREAT] SET (LOCK_ESCALATION = TABLE);
GO