USE [SONATA];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

DROP VIEW VEL_RADAR_LIST ;
GO

DROP VIEW VEL_RADAR_PLATFORM_LIST ;
GO

DROP VIEW VEL_RADARMODE_LIST ;
GO


/* MSSQL View 테이블 생성시 ORDER BY 명령이 삽입할 수 없다. 할수는 있는데.. 번겨로움. */

/* VEL_RADAR_LIST 뷰 생성      */
CREATE VIEW VEL_RADAR_LIST AS
    SELECT DISTINCT 
			A.RADAR_INDEX,
			
			A.ELNOT,
			A.NICK_NAME,
			A.PRIORITY,
			A.STATUS,
			A.ACCEPTED,
			A.PRIMARY_PLATFORM,
			A.DATE_LAST_UPDATED,
			A.DATE_LAST_REVIEWED,
			A.TIME_INACTIVATED
			
    FROM RADAR AS A
	  INNER JOIN RADARMODE_LIFECYCLE AS B ON A.RADAR_INDEX = B.RADAR_INDEX
	
    WHERE A.ACCEPTED = 1;
    
GO    
    
/* VEL_RADAR_PLATFORM_LIST 뷰 생성      */    
CREATE VIEW VEL_RADAR_PLATFORM_LIST AS
    SELECT  DISTINCT 
			RADAR.RADAR_INDEX,
			/* RADARMODE_LIFECYCLE.RADAR_INDEX,  */
			/* ASSOC_PLATFORM.PLATFORM_INDEX,  */
			
			RADAR.ELNOT,
			RADAR.NICK_NAME,
			RADAR.PRIORITY,
			RADAR.STATUS,
			RADAR.ACCEPTED,
			RADAR.PRIMARY_PLATFORM,
			RADAR.DATE_LAST_UPDATED,
			RADAR.DATE_LAST_REVIEWED,
			RADAR.TIME_INACTIVATED,
			
			PLATFORM.PLATFORM

    FROM RADAR 
	INNER JOIN RADARMODE_LIFECYCLE ON RADAR.RADAR_INDEX = RADARMODE_LIFECYCLE.RADAR_INDEX
	LEFT OUTER JOIN ASSOC_PLATFORM ON RADAR.RADAR_INDEX = ASSOC_PLATFORM.RADAR_INDEX
	LEFT OUTER JOIN PLATFORM ON ASSOC_PLATFORM.PLATFORM_INDEX = PLATFORM.PLATFORM_INDEX
	
    WHERE RADAR.ACCEPTED = 1;

GO

/* */
CREATE VIEW VEL_RADARMODE_LIST (
			RADARMODE_INDEX,

			SIGNAL_TYPE,

			RF_TYPE,
			RF_RANGE_MIN,
			RF_RANGE_MAX,
			RF_PATTERN,
			RF_NUM_ELEMENTS,
			RF_NUM_POSITIONS,
			RF_PATTERN_PERIOD_MIN,
			RF_PATTERN_PERIOD_MAX,
			RF_MEAN_MIN,
			RF_MEAN_MAX,

			PRI_TYPE,
			PRI_RANGE_MIN,
			PRI_RANGE_MAX,
			PRI_PATTERN,
			PRI_NUM_ELEMENTS,
			PRI_NUM_POSITIONS,
			PRI_PATTERN_PERIOD_MIN,
			PRI_PATTERN_PERIOD_MAX,
			PRI_MEAN_MIN,
			PRI_MEAN_MAX,

			PD_RANGE_MIN,
			PD_RANGE_MAX,

			SCAN_PRIMARY_TYPE,
			SCAN_PRIMARY_RANGE_MIN,
			SCAN_PRIMARY_RANGE_MAX,
			SCAN_SECONDARY_TYPE,
			SCAN_SECONDARY_RANGE_MIN,
			SCAN_SECONDARY_RANGE_MAX,

			MODULATION_CODE,
			PRIORITY,
			VALIDATION,

			RADAR_INDEX,
			RADARMODE_NAME,
			MODECODE,

			RADAR_PRIORITY,
			RADAR_ELNOT,
			NICK_NAME,
			TIME_INACTIVATED,

			THREAT_INDEX,
			DEVICE_INDEX,
			DEVICE_ELNOT
		) AS

		SELECT 
			RADARMODE.RADARMODE_INDEX,

			RADARMODE.SIGNAL_TYPE,

			RADARMODE.RF_TYPE,
			RADARMODE.RF_RANGE_MIN,
			RADARMODE.RF_RANGE_MAX,
			RADARMODE.RF_PATTERN,
			RADARMODE.RF_NUM_ELEMENTS,
			RADARMODE.RF_NUM_POSITIONS,
			RADARMODE.RF_PATTERN_PERIOD_MIN,
			RADARMODE.RF_PATTERN_PERIOD_MAX,
			RADARMODE.RF_MEAN_MIN,
			RADARMODE.RF_MEAN_MAX,

			RADARMODE.PRI_TYPE,
			RADARMODE.PRI_RANGE_MIN,
			RADARMODE.PRI_RANGE_MAX,
			RADARMODE.PRI_PATTERN,
			RADARMODE.PRI_NUM_ELEMENTS,
			RADARMODE.PRI_NUM_POSITIONS,
			RADARMODE.PRI_PATTERN_PERIOD_MIN,
			RADARMODE.PRI_PATTERN_PERIOD_MAX,
			RADARMODE.PRI_MEAN_MIN,
			RADARMODE.PRI_MEAN_MAX,

			RADARMODE.PD_RANGE_MIN,
			RADARMODE.PD_RANGE_MAX,

			RADARMODE.SCAN_PRIMARY_TYPE,
			RADARMODE.SCAN_PRIMARY_RANGE_MIN,
			RADARMODE.SCAN_PRIMARY_RANGE_MAX,
			RADARMODE.SCAN_SECONDARY_TYPE,
			RADARMODE.SCAN_SECONDARY_RANGE_MIN,
			RADARMODE.SCAN_SECONDARY_RANGE_MAX,

			RADARMODE.MODULATION_CODE,
			RADARMODE.PRIORITY,
			RADARMODE.VALIDATION,

			RADARMODE_LIFECYCLE.RADAR_INDEX,
			RADARMODE_LIFECYCLE.RADARMODE_NAME,
			RADARMODE_LIFECYCLE.MODECODE,

			RADAR.PRIORITY,
			RADAR.ELNOT,
			RADAR.NICK_NAME,
			RADAR.TIME_INACTIVATED,

			DEVICE.THREAT_INDEX,
			DEVICE.DEVICE_INDEX,
			DEVICE.ELNOT

	FROM RADARMODE
	LEFT JOIN RADARMODE_LIFECYCLE ON RADARMODE.RADARMODE_INDEX = RADARMODE_LIFECYCLE.RADARMODE_INDEX
	LEFT JOIN RADAR ON RADAR.RADAR_INDEX = RADARMODE_LIFECYCLE.RADAR_INDEX
	LEFT JOIN DEVICE ON RADAR.ELNOT = DEVICE.ELNOT

	WHERE RADAR.STATUS = 'ACTIVE' AND RADARMODE.VALIDATION != 0;
  
GO  

/* 레이더 RF 시퀀스 목록(레이더모드가 유효)를 보여준다. */
CREATE VIEW VEL_RADAR_RF_SEQENCE AS
    SELECT   
			RADAR_RF_SEQUENCE_NAME.RF_SEQ_NAME,
			
			RADAR_RF_SEQUENCE.RADARMODE_INDEX,
      RADAR_RF_SEQUENCE.RF_SEQ_ID,
			RADAR_RF_SEQUENCE.RF_SEQUENCE_NUM,
			
			RADAR_RF_VALUES.RF_INDEX,
			RADAR_RF_VALUES.RF_MIN,
			RADAR_RF_VALUES.RF_MAX			

    FROM RADAR_RF_SEQUENCE
	LEFT JOIN RADAR_RF_SEQUENCE_NAME ON ( RADAR_RF_SEQUENCE.RF_SEQ_ID = RADAR_RF_SEQUENCE_NAME.RF_SEQ_ID AND RADAR_RF_SEQUENCE.RADARMODE_INDEX = RADAR_RF_SEQUENCE_NAME.RADARMODE_INDEX )
	LEFT JOIN RADAR_RF_VALUES ON ( RADAR_RF_SEQUENCE.RADARMODE_INDEX = RADAR_RF_VALUES.RADARMODE_INDEX AND RADAR_RF_SEQUENCE.PF_INDEX = RADAR_RF_VALUES.RF_INDEX  )
	LEFT JOIN RADARMODE ON ( RADARMODE.RADARMODE_INDEX = RADAR_RF_SEQUENCE.RADARMODE_INDEX )	
	
	WHERE RADARMODE.VALIDATION != 0 AND ( RADAR_RF_VALUES.RF_MIN IS NOT NULL AND  RADAR_RF_VALUES.RF_MAX IS NOT NULL );
  
GO

